<div
  class="
    min-h-screen
    flex
    items-center
    justify-center
    py-12
    px-4
    sm:px-6
    lg:px-8
    bg-gray-500 bg-no-repeat bg-cover
    relative
  "
  style="
    background-image: url(https://images.pexels.com/photos/1004409/pexels-photo-1004409.jpeg?cs=srgb&dl=pexels-pok-rie-1004409.jpg&fm=jpg);
  "
>
  <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
  <div class="max-w-md w-full space-y-8 p-10 bg-white rounded-xl z-10">
    <div class="text-center">
      <h2 class="mt-6 text-3xl font-bold text-gray-900">Bienvenido</h2>
      <p class="mt-2 text-sm text-gray-600">Inicia sesion</p>
    </div>

    <app-form-login></app-form-login>
  </div>
</div>
