<app-menu></app-menu>
<ul class="z-40 fixed m-4 right-0 float-right">
  <li
    (click)="agregarMarcador()"
    class="
      w-48
      text-center
      bg-primary
      hover:bg-indigo-800
      text-white
      font-semibold
      py-2
      px-4
      rounded
      cursor-pointer
    "
  >
    Agregar
  </li>
  <li
    *ngFor="let marcador of marcadores; let i = index"
    (click)="irMarcador(marcador.marker!)"
    (dblclick)="borrarMarcador(i)"
    [ngStyle]="{ 'background-color': marcador.color }"
    class="
      items-center
      shadow
      px-4
      py-2
      text-gray-100
      transition-transform
      transform
      rounded-md
      hover:translate-x-1
      focus:outline-none
      focus:ring
      cursor-pointer
    "
  >
    asd
  </li>
</ul>
<div #mapa id="mapa" class="h-screen w-full"></div>
