<ul class="z-40 fixed m-4 right-0 float-right">
  <li
    (click)="agregarMarcador()"
    [ngClass]="{ hidden: !btnAgregar }"
    class="
      w-48
      text-center
      bg-primary
      hover:bg-indigo-800
      text-white
      font-semibold
      py-2
      px-4
      rounded
      cursor-pointer
    "
  >
    Agregar
  </li>
</ul>
<button
  [ngClass]="!btnAgregar ? 'block' : 'hidden'"
  [routerLink]="['/home/agregar-estacionamiento']"
  class="
    z-40
    fixed
    mx-auto
    w-48
    text-center
    bg-primary
    hover:bg-indigo-800
    text-white
    font-semibold
    py-2
    px-4
    rounded
    cursor-pointer
  "
>
  Listo
</button>

<div #mapa id="mapa" class="h-screen w-full"></div>
